/* css custom properties -> "css kintamieji" */

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/static/Roboto-Thin.ttf);
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/static/Roboto-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/static/Roboto-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/static/Roboto-ThinItalic.ttf);
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/static/Roboto-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/static/Roboto-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  color: #333;
}

.container {
  --w: 800px;
  display: inline-block;
  width: var(--w);
  margin: 40px calc((100% - var(--w)) / 2) 0;
}

.logo {
  float: left;
  height: 40px;
}

.main-nav {
  float: right;
}

.nav-link {
  float: left;
  font-size: 20px;
  line-height: 20px;
  color: #333;
  text-decoration: none;
  padding: 10px 0;
  margin-left: 30px;
}
.nav-link:first-child {
  margin-left: 0;
}
.nav-link:hover {
  text-decoration: underline;
  color: #000;
}

.left-column {
  float: left;
  width: 40%;
  margin-top: 25px;
}

.main-title {
  font-size: 60px;
  margin: 0;
  font-weight: lighter;
}
.sub-title {
  font-size: 50px;
  margin: 0;
  font-weight: normal;
}
.line {
  width: 100px;
  height: 3px;
  background-color: #649;
}
.description {
  color: #555;
}
.btn-group {
  display: inline-block;
}

.btn {
  float: left;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px 30px;
  border-radius: 30px;
  background-color: #649;
  color: #fff;
  border: 3px solid #649;
  text-decoration: none;
  user-select: none;
  box-shadow: 0px 4px 8px #0004;
}
.btn.btn-white {
  background-color: #fff;
  color: #333;
}
.btn:hover {
  box-shadow: 0px 6px 12px #0007;
  color: red;
  border-radius: 0;
}

.main-img {
  float: right;
  width: 60%;
}

footer {
  margin-bottom: 40px;
}

.social-group {
  float: left;
}

.social-link {
  color: #333;
  text-decoration: none;
}

.copyright {
  float: right;
  margin: 0;
}