* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: large;
  }
  
  
 
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
   
  }
  
  header img {
    height: 20px;
  }
  
  nav {
    display: flex;
    gap: 20px;
  }
  
  nav a {
    color: rgb(12, 12, 12);
    text-decoration: none;
  }
  
 
  main {
    display: flex;
    background-color: white;
    border-radius: 15px;
    margin: 50px auto;
    max-width: 800px;
    display: flex;
    
  }
  
  

  p {     
    color: #292828;     
    margin-bottom: 10px;   
  }
  
  
  h1 {
    font-size: 72px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
  }
  
  h2 {
    font-size: 42px;
    font-weight: bold;
    color: #222;
    margin-bottom: 30px;
    border-bottom: 4px solid #55337A;
    padding-bottom: 10px;
    width: fit-content;
  }

  p:first-of-type {
    font-size: 120px; 
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

p:nth-of-type(2) {
    font-size: 48px; 
    font-weight: bold;
    color: #222;
    display: inline-block;
    padding-bottom: 10px;
}


  
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: rgb(12, 12, 12);
  }
  
  footer p {
    font-size: 16px !important; 
    color: #292828;
}
 